.login-component{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.img-card{
    width: 50%;
}

.img-card img{
    width: 100%;
}

.card{
    width: 300px;
    min-height: 350px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #a8a8a8;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 65%; */
    /* transform: translate(-50%, -50%); */
}

.form-container{
    padding: 16px;
}

input{
    height: 24px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    /* outline: none; */
}


input:focus{
    outline-color: #673ab7;
}

input:focus label{
    color: #673ab7;
}

button{
    /* position: relative;
    left: 50%; */
    transition: all .3s;
    /* transform: translateX(-50%); */
}

button:hover{
    background: #4c258f;
}

button:active{
    background: #4c258f;
    transform: translateY(4px);
}

.submit-forget-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}

.submit-forget-wrapper a{
    text-decoration: none;
}

.social-login{
    margin-top: 10px;
}

.center{
    text-align: center;
}

.social-login-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.google{
    margin-right: 20px;
}

.forget-password-container{
    margin-top: 20px;
}

/* Mobile Portrait */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .login-component{
        height: 100vh;
        width: 100vw;
        background: none;
    }

    .card{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

}