.full-width {
  width: 100%;
}

.shipping-card {
  width: 500px;
  margin: 20px auto;
  box-shadow: 5px 5px 10px #b19898;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.card-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 40%;
}
.mat-card-actions {
  margin-left: -8px;
  margin-right: 340px;
  padding: 8px 0;
}

