<!-- <div class="addquestion-component">
    <div class="card">
        <form method="POST" [formGroup]="addquestionForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-container">
                <div class="form-group">
                    <label for="question">question</label>
                    <input type="text" name="question" formControlName="question" id="question" placeholder="What is MSD">
                </div>
                <br>
                <div class="form-group">
                    <label for="DifficultyType">difficultylev</label>
                    <select name="cars" id="cars">
                        <option value="Easy">Easy</option>
                        <option value="Moderate">Moderate</option>
                        <option value="Expert">Expert</option>
                        
                      </select>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label for="module">Module</label>
                    <select name="Module" id="Module">
                        <option value="Module 1">Module 1</option>
                        <option value="Module 2">Module 2</option>
                        <option value="Module 3">Module 3</option>
                        <option value="Module 4">Module 4</option>
                      </select>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label for="TaxonomyLevel">taxonomy</label>
                    <select name="cars" id="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                      </select>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label for="QuestionTypee">Question Type</label>
                    <select name="cars" id="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                      </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="Subject">Subject</label>
                    <select name="cars" id="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                      </select>
                </div>
                <br>
    
            </div>
        </form> -->



        <!-- <form [formGroup]="addquestionForm" class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput [formControl]="question" placeholder="Ex. pat@example.com">
              <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error> -->
            </mat-form-field>
          </form>
    </div>
</div> -->
   -->