<div class="login-component">
    <div class="img-card">
        <img src="../../../../assets/exam.svg" alt="">
    </div>
    <div class="card">
        <form method="POST" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-container">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" formControlName="username" id="username"
                        placeholder="e.g. johndoe">
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" name="password" id="password">
                </div>
                <br>
                <div class="submit-forget-wrapper">
                    <button type="submit" class="btn btn-purple raised">Login</button>
                    <a href="#">
                        <p>Forgot password?</p>
                    </a>
                </div>
            </div>
        </form>
        <mat-divider></mat-divider>
        <!-- <br> -->
        <div class="social-login">
            <p class="center">Or login with</p>
            <div class="social-login-wrapper">
                <div class="google">
                    <a href=""><img src="../../../../assets/google.svg" width="40px" alt="" srcset=""></a>
                </div>
                <div class="facebook">
                    <a href=""><img src="../../../../assets/facebook.svg" width="40px" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <br>
        <!-- <a href="#"><p class="center">Register here.</p></a> -->
        <a [routerLink]="[ '/auth/register' ]">
            <p class="center">Register here</p>
        </a>
    </div>
</div>