<!-- <div class="nav">
    <app-navigation></app-navigation>
</div> -->
<div class="wrapper">
    <div class="container">
        
        <div class="row">
            <h1>Profile</h1>
            <div class="img-card">
                <img src="../../../../assets/author.png" alt="">
            </div>

            <div class="card rounded-lg">
                <!-- <div class="pro-img">
                    <img class="rounded-circle" alt="Card image" src="../../../assets/img/author.jpg" />
                </div> -->
                
                <div class="form-container">
                    <div class="form-group">
                        <label for="username">Name : Prof.Shivansh Jha</label>

                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">Department : Information Technology</label>

                    </div>
                    <br>

                    <div class="form-group">
                        <label for="username">Designation : Head of Department</label>

                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">Date of Joining : 16-Nov-2018</label>

                    </div>
                    <br>

                    <div class="form-group">
                        <label for="username">Subject : Oops</label>
                    </div>

                </div>
            </div>
        </div>
    </div>