<nav>
  <div class="logo">
    <h2>Question Generator</h2>
  </div>
  <div class="nav-links">
    <a mat-button [routerLink]="[ '/' ]">Dashboard</a>
    <a mat-button [routerLink]="[ '/form' ]">Add Question</a>
    <a mat-button [routerLink]="[ '/profile' ]">Profile</a>
    <a *ngIf="!(loggedIn)" mat-button [routerLink]="[ '/auth/login' ]">Login</a>
    <a *ngIf="!(loggedIn)" mat-button [routerLink]="[ '/auth/register' ]">Register</a>
    <a *ngIf="(loggedIn)" mat-button [routerLink]="[ '/' ]">Sign Out</a>
  </div>
</nav>