<nav>
  <div class="logo">
  <h1>
    <a  *ngIf="(role==='admin')" [routerLink]="[ '/admin/dashboard' ]">Question Paper App </a>
  </h1>
   
  
  </div>
  <div class="tab">
    <div class="tab-icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <a mat-button [routerLink]="[ '/' ]">Dashboard </a>
     </div>
     <div class="tab-icon">
      <mat-icon>library_add</mat-icon>
      <a mat-button [routerLink]="[ '/form' ]">Add Question</a>
     </div>
     <div class="tab-icon">
      <mat-icon>account_circle</mat-icon>
      <a mat-button [routerLink]="[ '/profile' ]">Profile</a>
      <a *ngIf="!(loggedIn)" mat-button [routerLink]="[ '/auth/login' ]">Login</a>
     <a *ngIf="!(loggedIn)" mat-button [routerLink]="[ '/auth/register' ]">Register</a>
     </div>
     <div class="tab-icon">
      <mat-icon>exit_to_app</mat-icon>
      <a *ngIf="(loggedIn)" mat-button [routerLink]="[ '/auth/login' ]">Sign Out</a>
     </div>

  </div>
   
    

  
</nav>